[user]
	name = tmrizzo
	email = tiagomdrizzo@gmail.com
[core]
	autocrlf = input
	editor = vim
	whitespace = trailing-space,space-before-tab,indent-with-non-tab
	askPass =
[color]
	ui = true
[merge]
    tool = vimdiff
[diff]
    tool = vimdiff
[color "diff"]
    whitespace = red reverse
[push]
	default = matching
[credential]
	helper = cache
